html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#mapCanvas {
  height: 100%;
  width: 100%;
}

.controls {
  background: white;
  margin: 1ex;  
  position: absolute;
  top: 0;
}

.controls span {
  background: lightgray;
  margin: 0  1ex;
}
